h1 {
    font-family: Verdana;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 100px;
}
